<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.AreaCinemasMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.AreaCinemas">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="areaId" column="area_id" jdbcType="INTEGER"/>
        <result property="cinemaName" column="cinema_name" jdbcType="VARCHAR"/>
        <result property="cinemaPicture" column="cinema_picture" jdbcType="VARCHAR"/>
        <result property="cinemaAddress" column="cinema_address" jdbcType="VARCHAR"/>
        <result property="cinemaMoney" column="cinema_money" jdbcType="DOUBLE"/>
        <result property="cinemaNumber" column="cinema_number" jdbcType="VARCHAR"/>
        <result property="cinemaEmail" column="cinema_email" jdbcType="VARCHAR"/>
        <association property="lawMoney" column="id"  select="getCinemasLowMoney" javaType="float" />
    </resultMap>


    <resultMap id="BaseResultMapMovies" type="com.qkm.TTMS.entity.AreaCinemas">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="areaId" column="area_id" jdbcType="INTEGER"/>
        <result property="cinemaName" column="cinema_name" jdbcType="VARCHAR"/>
        <result property="cinemaPicture" column="cinema_picture" jdbcType="VARCHAR"/>
        <result property="cinemaAddress" column="cinema_address" jdbcType="VARCHAR"/>
        <result property="cinemaMoney" column="cinema_money" jdbcType="DOUBLE"/>
        <result property="cinemaEmail" column="cinema_email" jdbcType="VARCHAR"/>
        <result property="cinemaNumber" column="cinema_number" jdbcType="VARCHAR"/>
        <result property="lawMoney" column="lm"  jdbcType="FLOAT" />
    </resultMap>

    <resultMap id="BaseResultMapTable" type="com.qkm.TTMS.entity.AreaCinemas">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="areaId" column="area_id" jdbcType="INTEGER"/>
        <result property="cinemaName" column="cinema_name" jdbcType="VARCHAR"/>
        <result property="cinemaPicture" column="cinema_picture" jdbcType="VARCHAR"/>
        <result property="cinemaAddress" column="cinema_address" jdbcType="VARCHAR"/>
        <result property="cinemaMoney" column="cinema_money" jdbcType="DOUBLE"/>
        <result property="cinemaEmail" column="cinema_email" jdbcType="VARCHAR"/>
        <result property="cinemaNumber" column="cinema_number" jdbcType="VARCHAR"/>
    </resultMap>





    <sql id="Base_Column_List">
        id,area_id,cinema_name,
        cinema_picture,cinema_address,cinema_money,cinema_number,cinema_email
    </sql>

    <update id="addMoney">
        update area_cinemas set cinema_money = cinema_money + #{money} where id = #{cinemaId}
    </update>

    <update id="downMoney">
        update area_cinemas set cinema_money = cinema_money - #{money} where id = #{cinemaId}
    </update>

    <select id="getCinemaByMovieId" resultMap="BaseResultMap">
        select ac.*,cm.movie_lowMoney lm  from area_cinemas ac join cinema_movies cm on ac.id = cm.cinema_id where  cm.movie_id = #{movieId}
    </select>

    <select id="getAllById" resultMap="BaseResultMapTable">
        select
        <include refid="Base_Column_List"/>
        from area_cinemas
        where
        id = #{id,jdbcType=NUMERIC}
    </select>

    <select id="getListID" resultType="java.lang.Integer">
        select id from area_cinemas
    </select>

    <select id="getCinemasLowMoney" resultType="java.lang.Float">
     select cm.movie_lowMoney from cinema_movies cm where
         cinema_id = #{id} and movie_lowMoney is not null  order by movie_lowMoney asc limit 1
    </select>

    <select id="getAllCinemas" resultMap="BaseResultMapTable">
        select * from area_cinemas
    </select>

    <select id="deleteById"  resultType="int">
        delete  from area_cinemas where id = #{cinemaId}
    </select>

    <select id="getAllByCinemaName" resultType="com.qkm.TTMS.entity.AreaCinemas">
        select
           <include refid="Base_Column_List"/>
              from area_cinemas
                  where cinema_name like CONCAT('%',#{cinemaName},'%') or CONCAT('%',#{cinemaName}) or CONCAT(#{cinemaName},'%')
    </select>

    <select id="getCinemasByProvinceAndCityAndArea" resultMap="BaseResultMapMovies">
         select acm.*,cm.movie_lowMoney lm from area_cinemas acm join cinema_movies cm on acm.id = cm.cinema_id where area_id = #{areaId} and cm.movie_id = #{movieId}
    </select>
    <select id="getCinemasByProvince" resultMap="BaseResultMapMovies">
    select ac.*,cm.movie_lowMoney lm from city c join area a on c.id = a.city_id
        left join area_cinemas ac on a.id = ac.area_id  left join cinema_movies cm on ac.id = cm.cinema_id
           where c.province_id = #{provinceId} and cm.movie_id = #{movieId}
    </select>
    <select id="getCinemasByProvinceAndCity" resultMap="BaseResultMapMovies">
      select ac.*,cm.movie_lowMoney lm from area a join area_cinemas ac on a.id = ac.area_id
          left join cinema_movies cm on ac.id = cm.cinema_id
               where a.city_id = #{cityId} and cm.movie_id = #{movieId}
    </select>
    <select id="getAllCinemasByProvinceAndCityAndArea" resultMap="BaseResultMap">
       select acm.* from area_cinemas acm join cinema_movies cm on acm.id = cm.cinema_id where area_id = #{areaId}
    </select>
    <select id="getAllCinemasByProvince" resultMap="BaseResultMap">
       select ac.* from city c join area a on c.id = a.city_id
           left join area_cinemas ac on a.id = ac.area_id  left join cinema_movies cm on ac.id = cm.cinema_id
                where c.province_id = #{provinceId}
    </select>
    <select id="getAllCinemasByProvinceAndCity" resultMap="BaseResultMap">
        select ac.* from area a join area_cinemas ac on a.id = ac.area_id
            left join cinema_movies cm on ac.id = cm.cinema_id
                 where a.city_id = #{cityId}
    </select>
    <update id="updateCinemaPictureById">
        update area_cinemas
        set cinema_picture = #{cinemaPicture,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>

</mapper>
