<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.CinemaMoviesMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.CinemaMovies">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="cinemaId" column="cinema_id" jdbcType="BIGINT"/>
            <result property="movieId" column="movie_id" jdbcType="BIGINT"/>
            <result property="movieLowMoney" column="movie_lowMoney" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cinema_id,movie_id,
        movie_lowMoney
    </sql>
    <select id="getIdByCinemaIdAndMovieId" resultType="Long">
        select id from cinema_movies where cinema_id = #{cinemaId} and movie_id = #{movieId}
    </select>

    <select id="getListMovieIdByCinemaId" resultType="java.lang.Long">
        select movie_id from cinema_movies where cinema_id = #{cinemaId}
    </select>
    <delete id="deleteByCinemaIdAndMovieId">
        delete
        from cinema_movies
        where cinema_id = #{cinemaId,jdbcType=NUMERIC}
          AND movie_id = #{movieId,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByMovieId">
        delete
        from cinema_movies
        where movie_id = #{movieId,jdbcType=NUMERIC}
    </delete>
    <update id="setMovieLowMoneyByCinemaIdAndMovieId">
        update cinema_movies
        set movie_lowMoney = #{movieLowmoney,jdbcType=DECIMAL}
        where cinema_id = #{cinemaId,jdbcType=NUMERIC}
          AND movie_id = #{movieId,jdbcType=NUMERIC}
    </update>
    <select id="getAllByCinemaId" resultType="com.qkm.TTMS.entity.CinemaMovies">
        select
        <include refid="Base_Column_List"/>
        from cinema_movies
        where
        cinema_id = #{cinemaId,jdbcType=NUMERIC} and movie_lowMoney is not null  order by movie_lowMoney asc limit 1
    </select>
    <select id="getListIdByCinemaId" resultType="java.lang.Long">
        select id from cinema_movies where cinema_id = #{cinemaId}
    </select>
    <delete id="deleteByCinemaId">
        delete
        from cinema_movies
        where cinema_id = #{cinemaId,jdbcType=NUMERIC}
    </delete>
</mapper>
