<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.HallSeatMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.HallSeat">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="seatLine" column="seat_line" jdbcType="INTEGER"/>
            <result property="seatColumn" column="seat_column" jdbcType="INTEGER"/>
            <result property="moviePlanId" column="movie_plan_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,seat_line,seat_column,
        movie_plan_id,order_id
    </sql>
    <select id="getAllByMoviePlanId" resultType="com.qkm.TTMS.entity.HallSeat">
        select * from hall_seat where movie_plan_id = #{planId}
    </select>

    <select id="getAllByOrderId" resultType="com.qkm.TTMS.entity.HallSeat">
        select * from hall_seat where order_id = #{orderId}
    </select>

    <delete id="delByOrderId">
        delete
        from hall_seat
        where order_id = #{orderId,jdbcType=NUMERIC}
    </delete>
    <delete id="delByOrderIdAndSeatColumnAndSeatLine">
        delete
        from hall_seat
        where order_id = #{orderId,jdbcType=NUMERIC}
          AND seat_column = #{seatColumn,jdbcType=NUMERIC}
          AND seat_line = #{seatLine,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByMoviePlanIds">
        delete
        from hall_seat
        where movie_plan_id IN
        <foreach collection="moviePlanIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
