<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkm.TTMS.mapper.MovieUserMapper">
    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.MovieUser">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="accounts" column="accounts" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="job" column="job" jdbcType="VARCHAR"/>
        <result property="sellId" column="sell_id" jdbcType="INTEGER"/>
        <result property="personalizedSignature" column="personalized_signature" jdbcType="VARCHAR"/>
        <result property="cinemaId" column="cinema_id" jdbcType="INTEGER"/>
        <collection property="roles" ofType="com.qkm.TTMS.entity.Roles">
            <result property="roleId" column="rid"/>
            <result property="roleName" column="rname"/>
        </collection>
    </resultMap>




    <sql id="Base_Column_List">
        id,accounts,password,
        nickname,create_time,icon,
        gender,birthday,city,
        job,personalized_signature,cinema_id
    </sql>


    <select id="getByAccounts" resultMap="BaseResultMap">
        select m_u.*,m_u_r.role_id rid , m_r.role_name rname from movie_user m_u join movie_user_roles m_u_r on m_u.id = m_u_r.user_id join movie_role m_r on m_r.role_id = m_u_r.role_id where accounts = #{accounts}
    </select>

    <select id="getAllByAccounts" resultType="com.qkm.TTMS.entity.MovieUser">
        select *  from  movie_user where accounts = #{accounts}
    </select>


    <select id="getAdminByCinemaId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie_user
        where
        cinema_id is not null and sell_id is null and cinema_id != -2
    </select>
    <select id="getSellByCinemaId" resultType="com.qkm.TTMS.entity.MovieUser">
        select
        <include refid="Base_Column_List"/>
        from movie_user
        where
        cinema_id = #{cinemaId}
    </select>
    <select id="selectByCinemaId" resultType="com.qkm.TTMS.entity.MovieUser">
        select * from movie_user where cinema_id = #{cinemaId}
    </select>
    <delete id="delById">
        delete
        from movie_user
        where id = #{id,jdbcType=NUMERIC}
    </delete>
</mapper>