<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.MovieProducerMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.MovieProducer">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="movieId" column="movie_id" jdbcType="INTEGER"/>
            <result property="producerName" column="producer_name" jdbcType="VARCHAR"/>
            <result property="producerPicture" column="producer_picture" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,movie_id,producer_name,
        producer_picture
    </sql>
    <delete id="deleteByMovieId">
        delete
        from movie_producer
        where movie_id = #{movieId,jdbcType=NUMERIC}
    </delete>
</mapper>
