<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.MovieHallMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.MovieHall">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="cinemaId" column="cinema_id" jdbcType="BIGINT"/>
            <result property="seatLine" column="seat_line" jdbcType="INTEGER"/>
            <result property="seatColumn" column="seat_column" jdbcType="INTEGER"/>
            <result property="hallName" column="hall_name" jdbcType="VARCHAR"/>
            <result property="movieType" column="movie_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cinema_id,seat_line,
        seat_column,hall_name,movie_type
    </sql>
</mapper>
