<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.MovieActorMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.MovieActor">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="actorPicture" column="actor_picture" jdbcType="VARCHAR"/>
            <result property="movieId" column="movie_id" jdbcType="INTEGER"/>
            <result property="actorName" column="actor_name" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,actor_picture,movie_id,
        actor_name,role_name
    </sql>
    <delete id="deleteByMovieId">
        delete
        from movie_actor
        where movie_id = #{movieId,jdbcType=NUMERIC}
    </delete>
    <update id="updateActorPictureById">
        update movie_actor
        set actor_picture = #{actorPicture,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
