<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.TTMS.mapper.MoviePictureMapper">

    <resultMap id="BaseResultMap" type="com.qkm.TTMS.entity.MoviePicture">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="moviePicture" column="movie_picture" jdbcType="VARCHAR"/>
            <result property="movieId" column="movie_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,movie_picture,movie_id
    </sql>
</mapper>
